<mat-toolbar color="secondary">
  <mat-toolbar-row class="header-row">
    <i class="wi wi-day-sunny header-icon"></i>
    <span>Forecast</span>
    <span class="header-spacer"></span>
    <mat-form-field class="search-form">
      <input matInput placeholder="City or zipcode" #box (keyup.enter)="handleInputChange(box.value)">
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>