<app-current-day></app-current-day>
<mat-card style="min-height: 600px;">
    <mat-tab-group dynamicHeight='true'>
        <mat-tab label="Wind"> <app-wind-chart></app-wind-chart></mat-tab>
        <mat-tab label="Temperature"><app-temp-chart></app-temp-chart></mat-tab>
        <mat-tab label="Pressure"><app-pressure-chart></app-pressure-chart></mat-tab>
        <mat-tab label="Humidity"><app-humidity-chart></app-humidity-chart></mat-tab>
    </mat-tab-group>
</mat-card>