<div class="container">
    <div class="columns is-multiline is-centered">
        <div class="column is-one-quarter">
            <p class="heading">{{today | date:'EEEE, MMMM d'}}</p>
        </div>
        <div class="column is-half is-offset-2">
            <p class="heading">{{todaysContainer?.location.city}}, {{todaysContainer?.location.country}}</p>
            <p class="title">{{todaysContainer?.temprature}}<i class="wi wi-celsius"></i></p>
            <p class="title">{{todaysContainer?.state}}<i class="{{pickIcon(todaysContainer?.details.icon)}} subicon"></i></p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <nav class="level is-mobile no-margin">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Pressure: {{todaysContainer?.details.pressure}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Humidity: {{todaysContainer?.details.humidity}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Wind Speed: {{todaysContainer?.details.wind_speed}} m/s</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Cloud: {{todaysContainer?.details.clouds}}%</p>
            </div>
        </div>
    </nav>
    <mat-divider></mat-divider>
</div>