/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "weather-icons/css/weather-icons.css";
@import '~ngx-toastr/toastr.css';

body{
    margin: 0px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.chart{
    margin-top: 20px;
    min-height: 350px;
    max-height: 550px;
    width: 100%;
}